<section id="o-seminari" class="about-section">
  <h2 class="section-title">O Semináři</h2>
  <div class="about-box">
  <div class="about-text expandable" data-expandable>
    <p>
Dne 7. 4. 2025 se v Domě U Kamenného zvonu v prostorách Galerie hlavního města Prahy, konal odborný seminář Komory edukačních pracovníků Rady galerií ČR. Jednalo se o vzájemnou inspiraci, prezentaci příkladů dobré praxe i úspěšných projektů a především o výměnu praktických tipů, zkušeností, nápadů a know-how – z galerijního provozu z oblasti edukace. Seminář byl odborným brainstormingem a zároveň kolegiální a metodickou podporou pro edukátory především z členských galerií RG ČR. 
Tato akce navázala na úspěšný grantový projekt RG ČR podpořený MK ČR a realizovaný v r. 2021 – konference KEP RG ČR Ve službách umění / Bilance 17 let činnosti Komory edukačních pracovníků Rady galerií ČR (KEP RG ČR), kde byly prezentovány významné projekty, činnosti a aktivity KEP. Cílem bylo upozornit na význam, smysl a přínos KEP a tím i celé RG ČR prostřednictvím představení úspěšně realizovaných projektů 

Celodenní program byl rozdělený do 4 bloků podle jejich tematických oblastí: 
Edukace v rámci integrace cizinců se zaměřením na Ukrajinu
Kreativita a kreativní vzdělávání, zahraniční zkušenosti
Využití nových médií, sítí a internetu, příklady dobré praxe, prezentace zajímavých projektů.
Představení výstavy Enter the Room a doprovodných edukačních aktivit
Jednalo se o prezentace institucí a projektů, souvisejících s činností edukačních oddělení napříč Českou republikou. Konferenci pořádaly Rada galerií České republiky a Galerie hlavního města  Prahy,  finančně jí podpořilo Ministerstvo kultury ČR. Mezi prezentujícími byli edukátoři, lektoři a pedagogové z těchto institucí a organizací: Galerie hlavního města Prahy, Muzeum umění Olomouc, DAMU, Galerie moderního umění v Hradci Králové, Galerie výtvarného umění v Ostravě, Oblastní galerie Vysočiny v Jihlavě, KKC Nisa Factory, Muzeum umění a designu Benešov. Celková účast byla cca 60 lidí. Největším přínosem akce bylo vzájemné síťování mezi institucemi a představení jejich přístupů a zkušeností, které pak mohou být využity pro konkrétní vzdělávací aktivity v jednotlivých institucích. Tento elektronický výstup poskytuje komplexní dokumentaci proběhlého semináře a prezentovaných příspěvků.    </p>
  </div>
  <button class="expand-toggle">Více</button>
  </div>


</section>