
<section id="galerie" class="section-galerie">
<h2 class="section-title">Fotogalerie</h2>

<div class="gallery-slider">
  <button class="slider-btn prev">‹</button>

  <div class="slider-window">
    <div class="slider-track">
          <img src="img//foto/foto1.jpg" alt="">
          <img src="img/foto/foto2.jpg" alt="">
          <img src="img/foto/foto3.jpg" alt="">
          <img src="img/foto/foto4.jpg" alt="">
          </div>
     </div>
 <button class="slider-btn next">›</button>
</section
