<header class="site-header">
  <div class="menu-toggle" id="menuToggle">☰</div>

  <div class="menu-bg">
    <nav class="nav" id="mainNav">
      <a href="/#hero">Home</a>
      <a href="/#o-seminari">O semináři</a>
      <a href="/#video">Videopřehled</a>
      <a href="/#prispevky">Příspěvky</a>
      <a href="/#galerie">Fotogalerie</a>
    </nav>
  </div>
</header>
