<section class="hero" id="hero">

  <div class="hero-image-wrap">
    <img src="/img/hero_back.jpg" alt="" class="hero-bg">
    <img src="/img/hero_overlay.png" alt="" class="hero-overlay">
  </div>

  <div class="hero-box">
    <div class="hero-box-header">
    <h1>Odborný<br>seminář</h1>
      <a class="hero-logo" href="https://www.rgcr.cz">
              <img src="/img/logo_rgcr_bw.jpg" alt="logo RGČR">
            </a>
    </div>
    <p class="hero-subtitle">
      Komory edukačních pracovníků<br>
      Rady Galerií ČR
    </p>
   
      <p class="hero-date">7. 4. 2025</p>
       
          
  </div>

  
</section>

