
<section id="prispevky" class="posts-grid">
 

  <h2 class="section-title">Odborné příspěvky</h2>
   <div class="post-links">
     <a href="/img/prezentace/KEP2025_Seminar_sbornik.pdf" class="btn">Sborník ke stažení</a>
  </div>

  <div class="grid">
{% for post in posts %}

      <a class="tile" href="{{ post.permalink }}">
        <div class="tile-inner">
          <img src="{{ post.image }}" alt="">
          <div class="tile-title">{{ post.title }}</div>
        </div>
      </a>
    {% endfor %}
  </div>



</section>
