<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class="{% if page.url == '/' or page.url == '/index.html' %}home{% else %}subpage{% endif %}">

  {% include "header.njk" %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include "footer.njk" %}

<script src="/scripts/expandable-text.js"></script>
<script src="/scripts/carousel.js"></script>
<script src="/scripts/video-placeholder.js"></script>
<script src="/scripts/toggle-menu.js"></script>


</body>
</html>