{% extends "layouts/base.njk" %}
{% block content %}
  {% include "hero.njk" %}
  {% include "about.njk" %}
  {% include "video-section.njk" %}
  {% include "posts-grid.njk" %}
  {% include "galerie.njk" %}
{% endblock %}